@page
@model EventPlanner.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Event.Title)</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Organizer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Event.Date.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.SpotsAvailable)
        </dt>
        @if (Model.Event.SpotsAvailable == true)
        {
            <dd class="col-sm-2">Yup</dd>
        }
        else
        {
            <dd class="col-sm-2">Nop</dd>
        }
    </dl>
</div>
<div>
    <a asp-page="../AttendeeEvents/Create" asp-route-id="@Model.Event.ID" class="btn btn-success">Join Event</a>
    <a asp-page="./Index">Back to List</a>
</div>
